<div
  #wrapper
  class="frame-wrapper"
  [ngClass]="{ showresizer: true, dragging: isDragging }"
  [style.top.px]="position.y"
  [style.left.px]="position.x"
>
  <div
    class="content-wrapper"
    [style.width.px]="size.w"
    [style.height.px]="size.h"
    (mousedown)="startDrag($event)"
  >
  <!-- Imagen -->
  </div>

  <div class="resizers" [style.width.px]="size.w" [style.height.px]="size.h" >
    <div class="resizer right" (mousedown)="startDrag($event)" ></div>
    <div
      (mousedown)="startResize($event, ['right'], 'x')"
      class="resizer right-center"
    ></div>
    <div class="resizer left" (mousedown)="startDrag($event)"></div>
    <div
      (mousedown)="startResize($event, ['left'], 'x')"
      class="resizer left-center"
    ></div>

    <div class="resizer bottom" (mousedown)="startDrag($event)"></div>
    <div
      (mousedown)="startResize($event, ['bottom'], 'y')"
      class="resizer bottom-center"
    ></div>

    <div class="resizer top" (mousedown)="startDrag($event)"></div>

    <div fxLayout="column">
      <div
        (mousedown)="startResize($event, ['top'], 'y')"
        class="resizer top-center"
      ></div>
    </div>

    <div
      (mousedown)="startResize($event, ['top', 'right'], 'xy')"
      class="resizer top-right"
    ></div>
    <div
      (mousedown)="startResize($event, ['top', 'left'], 'xy')"
      class="resizer top-left"
    ></div>
    <div
      (mousedown)="startResize($event, ['bottom', 'left'], 'xy')"
      class="resizer bottom-left"
    ></div>
    <div
      #resizeCorner
      (mousedown)="startResize($event, ['bottom', 'right'], 'xy')"
      class="resizer bottom-right"
    ></div>
  </div>
</div>
