<div class="container">
  <div class="options">
    <!-- Text Format -->
    <ng-container *ngFor="let btn of buttons">
      <button
        [id]="btn.id"
        [class]="btn.class"
        [matTooltip]="btn.malTooltip"
        (click)="
          validateInput(btn.id)
            ? inputClick(btn.id)
            : this.modifyText(btn.id, false, null)
        "
      >
        <input
          *ngIf="btn.id == 'file'"
          type="file"
          name="file"
          id="file-input"
          (change)="insertFile($event)"
          hidden
        />

        <input
          *ngIf="btn.id == 'insertImage'"
          type="file"
          name="insertImage"
          id="insertImage-input"
          accept="image/*"
          (change)="insertImage($event)"
          hidden
        />

        <input
          *ngIf="btn.id == 'foreColor' || btn.id == 'backColor'"
          type="color"
          [name]="btn.id + '-input'"
          [id]="btn.id + '-input'"
          (change)="modifyText(btn.id, false, $event.target)"
          hidden
        />

        <mat-icon>{{ btn.icono }}</mat-icon>
      </button>
    </ng-container>

    <select
      id="fontSize"
      class="adv-option-button"
      (click)="modifyText('fontSize', false, $event.target)"
    >
      <option *ngFor="let size of font_size" [value]="size">
        <ng-container [ngSwitch]="size">
          <h1 *ngSwitchCase="'5'">Título</h1>
          <h3 *ngSwitchCase="'4'">Subtítulo</h3>
          <h4 *ngSwitchCase="'3'">Texto</h4>
        </ng-container>
      </option>
    </select>

    <!-- Font Style -->
    <select
      id="fontName"
      class="adv-option-button"
      (click)="modifyText('fontName', false, $event.target)"
    >
      <option *ngFor="let type of font_list" [value]="type">
        {{ type }}
      </option>
    </select>
  </div>

  <div id="text-input" contenteditable="true" #editor></div>

  <section class="uploaded-area" *ngIf="array_file.length > 0">
    <li class="row" *ngFor="let file of array_file; let i=index">
      <div class="content">
        <mat-icon>insert_drive_file</mat-icon>
        <div class="details">
          <span >{{file.name}}</span>
        </div>
        <button (click)="deleteFile(i)"><mat-icon>clear</mat-icon></button>
      </div>
    </li>
  </section>
</div>

<button (click)="resizeImage('increase')">Aumentar tamaño</button>
<br>
<button (click)="resizeImage('decrease')">Disminuir tamaño</button>


