* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: #ffffff;
  width: 45%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}

.options {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

button {
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
  color: #020929;
  :hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
  mat-icon{
    font-size: 20px;
  }
}

select {
  max-width: 100px;
  padding: 5px;
  border-radius: 8px;
  border: none;

  :hover{
    cursor: pointer;
  }
}

.uploaded-area{
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  max-height: 100px;
  overflow-y: auto;
  gap: 10px;
  .row .content{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .row .details{
    display: flex;
    flex-direction: column;
  }

}

section .row{
  background-color: rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  mat-icon{
    font-size: 20px;
  }
}

#text-input {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 2px solid #020929;
  padding: 20px;
  height: 50vh;
  max-height: 50vh;
  border-radius: 8px;
  line-height: 1.2;
  overflow-y: scroll;
}

