<div class="container">
  <h1>Editor de texto</h1>
  <div class="options">
    <!-- Text Format -->
    <ng-container *ngFor="let btn of buttons">
      <button [id]='btn.id' [class]='btn.class' (click)="this.modifyText(btn.id, false, null);">
        <mat-icon>{{btn.icono}}</mat-icon>
      </button>
    </ng-container>

    <!-- Headings -->
    <select id="formatBlock" class="adv-option-button" (change)="modifyText('formatBlock', false, $event.target)">
      <option *ngFor="let size of font_size" [value]="size">{{size}}</option>
    </select>

    <!-- Font -->
    <select id="fontName" class="adv-option-button">
      <option *ngFor="let type of font_list" [value]="type">{{type}}</option>
    </select>

    <!-- <select id="fontSize" class="adv-option-button"></select> -->

    <!-- Color -->
    <div class="input-wrapper">
      <input
        type="color"
        id="foreColor"
        class="adv-option-button"
        (change)="modifyText('foreColor', false, $event.target)"
      />
      <label for="foreColor">Font Color</label>
    </div>

    <div class="input-wrapper">
      <input
        type="color"
        id="backColor"
        class="adv-option-button"
        (change)="modifyText('backColor', false, $event.target)"
      />
      <label for="backColor">Highlight Color</label>
    </div>

  </div>
  <div id="text-input" contenteditable="true"></div>
</div>
